body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-success {
  color: green;
}

.text-error {
  color: red;
}

.info-text {
  font-size: 10px;
  color: grey;
}

.flex-container {
  display: flex;
  flex: 1;
}

.amount-container {
  margin-top: 5rem
}

.amount {
  font-size: 20px;
}

.button-error {
  background: #cc0000;
}

.button-primary {
  background: #0072be;
}

.flex-justify-content-center {
  justify-content: center;
}

.align-center {
  text-align: center
}

.flat-button {
  margin: 10px;
  border: 0;
  padding: 10px;
  box-shadow: none;
  border-radius: 3px;
}

.white-button-text {
  font-weight: 600;
  color: antiquewhite;
}

.flat-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2)
}